In [8]:
import pandas as pd
%store -r  df
df:pd.DataFrame = df

In [9]:
df

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,red,M
1,3042,0.000500,0.1542,16.60,0,red,M
2,2600,0.000300,0.1020,18.70,0,red,M
3,2800,0.000200,0.1600,16.65,0,red,M
4,1939,0.000138,0.1030,20.06,0,red,M
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,blue,O
236,30839,834042.000000,1194.0000,-10.63,5,blue,O
237,8829,537493.000000,1423.0000,-10.73,5,white,A
238,9235,404940.000000,1112.0000,-11.23,5,white,A
239,37882,294903.000000,1783.0000,-7.80,5,blue,O

In [10]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

df['Temperature (K)'] = np.log(df['Temperature (K)'])
df['Luminosity(L/Lo)'] = np.log(df['Luminosity(L/Lo)'])
df['Radius(R/Ro)'] = np.log(df['Radius(R/Ro)'])

scaler = MinMaxScaler()
columns_to_scale = ['Temperature (K)', 'Luminosity(L/Lo)', 'Radius(R/Ro)', 'Absolute magnitude(Mv)']
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

In [11]:
from sklearn.preprocessing import OrdinalEncoder

spectral_classes_order = [['O', 'B', 'A', 'F', 'G', 'K', 'M']]
ordinal_encoder = OrdinalEncoder(categories=spectral_classes_order)
df['Spectral Class'] = ordinal_encoder.fit_transform(df[['Spectral Class']])
df['Spectral Class']

0      6.0
1      6.0
2      6.0
3      6.0
4      6.0
      ...
235    0.0
236    0.0
237    2.0
238    2.0
239    0.0
Name: Spectral Class, Length: 240, dtype: float64

In [12]:
df = pd.get_dummies(df, columns=['Star color'])
df.columns

Index(['Temperature (K)', 'Luminosity(L/Lo)', 'Radius(R/Ro)',
       'Absolute magnitude(Mv)', 'Star type', 'Spectral Class',
       'Star color_blue', 'Star color_bluewhite', 'Star color_orange',
       'Star color_orangered', 'Star color_paleyelloworange', 'Star color_red',
       'Star color_white', 'Star color_yellowish', 'Star color_yellowwhite'],
      dtype='object')

In [13]:
df.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Spectral Class,Star color_blue,Star color_bluewhite,Star color_orange,Star color_orangered,Star color_paleyelloworange,Star color_red,Star color_white,Star color_yellowish,Star color_yellowwhite
0,0.151602,0.147329,0.243442,0.876798,0,6.0,False,False,False,False,False,True,False,False,False
1,0.148790,0.079381,0.235546,0.891807,0,6.0,False,False,False,False,False,True,False,False,False
2,0.096917,0.057254,0.202094,0.957473,0,6.0,False,False,False,False,False,True,False,False,False
3,0.121402,0.039691,0.238535,0.893371,0,6.0,False,False,False,False,False,True,False,False,False
4,0.000000,0.023617,0.202884,1.000000,0,6.0,False,False,False,False,False,True,False,False,False

In [14]:
X = df.drop(['Spectral Class','Star type'],axis=1)
y = df['Spectral Class']

%store X
%store y

Stored 'X' (DataFrame)
Stored 'y' (Series)